<div class="row my-4">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 card border-primary" style="padding: 15px; background-color: #FAE6FA">
        <mat-tab-group>
            <mat-tab label="Java">
                <mat-card class="example-card">
                    <mat-card-title class="text-center">Java</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-content>
                        Stuff about Java
                    </mat-card-content>
                </mat-card>              
            </mat-tab>
            <mat-tab label="Javascript">
                <mat-card class="example-card">
                    <mat-card-title class="text-center">Javascript</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-content>
                        Stuff about Javascript
                    </mat-card-content>
                </mat-card>              
            </mat-tab>
            <mat-tab label="Python">
                <mat-card class="example-card">
                    <mat-card-title class="text-center">Python</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-content>
                        Stuff about Python
                    </mat-card-content>
                </mat-card>              
            </mat-tab>
            <mat-tab label="C Plus Plus">
                <mat-card class="example-card">
                    <mat-card-title class="text-center">C++</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-content>
                        Stuff about C++
                    </mat-card-content>
                </mat-card>              
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-md-3">
    </div>
</div>  
